
<div class="container" id="food">
    <div class="safe">
    <ul>
        <li><span class="iconfont icon-banshou"></span>预约维修服务<div></div></li>
        <li><span class="iconfont icon-7"></span>7天无理由退货<div></div></li>
        <li><span class="iconfont icon-icon-test"></span>15天免费换货<div></div></li>
        <li><span class="iconfont icon-liwu"></span>满150包邮<div></div></li>
        <li><span class="iconfont icon-dingwei"></span>520余家售后网点</li>
    </ul>
    </div>    

    <div class="help">
    <ul>
        <li class="help_1"><a href="#">帮助中心</a> 
            <ul>
                <li><a href="#">账户管理</a></li>
                <li><a href="#">购物指南</a></li>
                <li><a href="#">订单操作</a></li>
            </ul>
        </li>
        <li class="help_1"><a href="#">服务支持</a> 
            <ul>
                <li><a href="#">账户管理</a></li>
                <li><a href="#">购物指南</a></li>
                <li><a href="#">订单操作</a></li>
            </ul>
        </li>
        <li class="help_1"><a href="#">线下门店</a> 
            <ul>
                <li><a href="#">账户管理</a></li>
                <li><a href="#">购物指南</a></li>
                <li><a href="#">订单操作</a></li>
            </ul>
        </li>
        <li class="help_1"><a href="#">关于小米</a> 
            <ul>
                <li><a href="#">账户管理</a></li>
                <li><a href="#">购物指南</a></li>
                <li><a href="#">订单操作</a></li>
            </ul>
        </li>
        <li class="help_1"><a href="#">关注我们</a> 
            <ul>
                <li><a href="#">账户管理</a></li>
                <li><a href="#">购物指南</a></li>
                <li><a href="#">订单操作</a></li>
            </ul>
        </li>
        <li class="help_1"><a href="#">特色服务</a> 
            <ul>
                <li><a href="#">账户管理</a></li>
                <li><a href="#">购物指南</a></li>
                <li><a href="#">订单操作</a></li>
            </ul>
        </li>
    </ul>
    <div class="del">
        <div>
            <p>400-100-5678</p>
            <p>周一至周日 8:00-18:00
                <br>
            （仅收市话费）</p>
            <p><span class="iconfont icon-duihuakuang"></span>人工客服</p>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------- -->
<footer id="footer" >
    <img src="../../static/logo-footer.png" alt="" class="image">
    <ul>
        <li>
            <ul>
                <li>小米商城</li>
                <li>MIUI</li>
                <li>米家</li>
                <li>米聊</li>
                <li>多看</li>
                <li>游戏</li>
                <li>路由器</li>
                <li>米粉卡</li>
                <li>政企服务</li>
                <li>小米天猫店</li>
                <li>小米集团隐私政策</li>
                <li>小米公司儿童信息保护规则</li>
                <li>小米商城隐私政策</li>
                <li>小米商城用户协议</li>
                <li>问题反馈</li>
                <li>廉政举报</li>
                <li>诚信合规</li>
                <li style="white-space:pre-wrap ;">Select Location</li>
                
            </ul>
        </li>
        <li>mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2017]1530-131号 </li>
        <li>(京)网械平台备字（2018）第00005号 互联网药品信息服务资格证 (京) -非经营性-2014-0090 营业执照 医疗器械公告 </li>
        <li>增值电信业务许可证  网络食品经营备案（京）【2018】WLSPJYBAHF-12   食品经营许可证 </li>
        <li>违法和不良信息举报电话：185-0130-1238 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</li>
        <li>
            <img style="width:85px;height:28px; " src="../../static/v-0.png" alt="">
            <img src="../../static/v-logo-1.png" alt="">
            <img src="../../static/v-logo-2.png" alt="">
            <img src="../../static/v-logo-3.png" alt="">
            <img src="../../static/v-logo-4.png" alt="">
        </li>
    </ul>
</footer>
</div>