
    <div class="container" id="head">
        <ul class="nav_l">
            <li><a href="#">小米商城</a></li>
            <li><a href="#">MIUI</a></li>
            <li><a href="#">loT</a></li>
            <li><a href="#">云服务</a></li>
            <li><a href="#">金融</a></li>
            <li><a href="#">有品</a></li>
            <li><a href="#">小爱开放平台</a></li>
            <li><a href="#">政企服务</a></li>
            <li><a href="#">资质证照</a></li>
            <li><a href="#">协议规则</a></li>
            <li><a href="#">下载APP</a></li>
            <li><a href="#">Select Location</a></li>
        </ul>
        <ul class="nav_r">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">消息通知</a></li>
            <li class="carwarp"><a href="#" ><span class="iconfont icon-gouwuche"></span>  购物车</a>
           <div class="cart"></div>
           </li>
        </ul> 
    </div>

<!-- ---------------------------------------- -->
<div id="search" class="container">
    <div class="logo">
        <img src="../static/mihome.png" alt="">
    </div>
    <ul>
        <li class="li-one"><a href="#">小米手机</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">红米</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro111</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">电视</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">笔记本</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro2222</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">家电</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro33333</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">新品</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro44444</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">路由器</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro55555</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">智能硬件</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro66666</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">服务</a>
            <ul>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/be92bc4baa572bf467fc9e881fd4be2a.png"
                            alt="">
                        <p>小米CC9 pro77777</p>
                        <h4>2799元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/41c566d825a3ae3b5751a78d4c7cffdb.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>3699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/2c9307e9690dfbca39d8de770a7a8664.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>2699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/f515ab05232ed14ccd78ec67e024495a.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1699元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/df9b3e7a562e02a33eb069b3f0119815.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1099元起</h4>
                    </a>
                    <div></div>
                </li>
                <li class="li-two">
                    <a href="">
                        <img src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/b02f50c9dd2e01c139a06a12502755ef.png"
                            alt="">
                        <p>小米CC9 pro</p>
                        <h4>1999元起</h4>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-one"><a href="#">社区</a>

        </li>
    </ul>
    <div class="search_input">
        <input type="text">
        <div class="search_input_tubiao">
            <span class="iconfont icon-fangdajing"></span>
        </div>
    </div>
</div>

<!--============================-->